.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px;
}

.wrapper {
  max-width: 864px;
}

.content {
  margin: 32px auto 0;
}

.footer {
  margin: 0 0 120px;
}

@font-face {
  font-family: "Gerbera";
  src: local("Gerbera Medium"), local("/font/Gerbera-Medium"), url("../font/Gerbera-Medium.woff2") format("woff2"), url("../font/Gerbera-Medium.woff") format("woff"), url("../font/Gerbera-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gerbera";
  src: local("Gerbera Light"), local("../font/Gerbera-Light"), url("../font/Gerbera-Light.woff2") format("woff2"), url("../font/Gerbera-Light.woff") format("woff"), url("../font/Gerbera-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Gerbera";
  src: local("Gerbera Black"), local("../font/Gerbera-Black"), url("../font/Gerbera-Black.woff2") format("woff2"), url("../font/Gerbera-Black.woff") format("woff"), url("../font/Gerbera-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
body {
  font-family: "Gerbera";
}

h1 {
  font-size: 24px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 1.44px;
  text-transform: uppercase;
}

h2 {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}

h1, h2 {
  color: #212121;
}
h1 span, h2 span {
  color: #E2232D;
}

h2 span {
  text-decoration: underline;
}

h1 span {
  font-weight: 900;
}

p {
  color: #212121;
  font-weight: 300;
  line-height: 20px;
  font-size: 16px;
  line-height: 24px;
}
p .text-small {
  font-size: 14px;
  line-height: 20px;
}

.copyright p {
  color: #747474;
  font-size: 12px;
  line-height: 20px;
}

.btn {
  width: 340px;
  height: 56px;
  border-radius: 12px;
  color: #FFF;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 1.08px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn.btn--black {
  background: #212121;
}
.btn.btn--red {
  background: linear-gradient(99deg, #E2232D 0%, #C0333D 100%);
}

@media (max-width: 450px) {
  .btn {
    width: 100%;
  }
}
ul {
  padding-inline-start: 0px;
  list-style: none;
}

/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  /*outline: none;*/
}

a:focus,
a:active {
  /* outline: none;*/
}

input[type=submit] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Links */
a, a:link, a:visited {
  color: inherit;
  /* display: inline-block; */
  /* color: #154169 !important; */
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

/* h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
} */
img {
  vertical-align: top;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

form {
  display: flex;
  flex-direction: column;
  margin: 36px 0 0;
}
form .inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}
form .input {
  padding: 13px 24px 10px;
  border-radius: 12px;
  border: 1.5px solid #212121;
  color: #212121;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}
form .input.input--error {
  color: red;
  border: 1.5px solid red;
}
form .input::-moz-placeholder {
  color: inherit;
}
form .input::placeholder {
  color: inherit;
}
form .fp {
  border-radius: 24px;
  background: #F5F5F5;
  padding: 24px;
  display: flex;
  align-items: center;
  margin: 24px 0;
  flex-wrap: wrap;
}
form .fp p {
  color: #747474;
}
form .fp .input {
  width: 280px;
  margin: 0 24px 0 0;
  background: #fff;
}
form button {
  margin: 0 0 0 auto;
}

@media (max-width: 768px) {
  form .inner {
    grid-template-columns: 1fr;
  }
  form .fp .input {
    width: 100%;
    margin: 0 0 12px;
  }
}
.check {
  margin: 60px 0;
}
.check h1 {
  margin: 0 0 24px;
}

.main-info {
  margin: -195px 0 0;
}
.main-info h2:first-child {
  max-width: 445px;
  margin: 0 0 24px;
}
.main-info p {
  margin: 0 0 12px;
  max-width: 586px;
}
.main-info button {
  margin: 36px 0 0;
}

@media (max-width: 1050px) {
  .main-info {
    margin: -155px 0 0;
  }
}
@media (max-width: 920px) {
  .main-info {
    margin: -100px 0 0;
  }
}
@media (max-width: 768px) {
  .main-info {
    margin: 0;
  }
}
.checkbox-wrapper {
  margin: 0 0 36px;
  display: flex;
  flex-direction: column;
}
.checkbox-wrapper label {
  display: flex;
  font-size: 16px;
  font-weight: 300;
}
.checkbox-wrapper label:first-child {
  margin: 0 0 12px;
}

.checkbox-error .custom-checkbox {
  border: 1px solid red;
}
.checkbox-error .custom-checkbox::before {
  background: red;
}
.checkbox-error p {
  color: red;
}

.custom-checkbox {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 6px;
  border: 1px solid #212121;
  margin: 0 10px 2px 0;
  vertical-align: middle;
  overflow: hidden;
  flex: 0 0 24px;
}
.custom-checkbox::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 14px;
  height: 14px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: #212121;
  background-size: cover;
  transition: 0.2s ease-in-out;
  border-radius: 3px;
}

.default-checkbox {
  display: none;
}
.default-checkbox:checked + .custom-checkbox::before {
  transform: translate(-50%, -50%) scale(1);
}/*# sourceMappingURL=style.css.map */